In [1]:
list1=['jammu','kerala','punjab','goa','asssam']
list1.sort()
print(list1)

['asssam', 'goa', 'jammu', 'kerala', 'punjab']

In [2]:
list2=[256,857,965,78,895]
print(list2)

[256, 857, 965, 78, 895]

In [3]:
tup1=(56,55,26,5,56)
print(tup1)

(56, 55, 26, 5, 56)

In [6]:
a=zip(list1,list2)
print(tuple(a))

(('asssam', 256), ('goa', 857), ('jammu', 965), ('kerala', 78), ('punjab', 895))